In [1]:
import pandas as pd

In [5]:
print(pd.__version__)

1.4.3

# EXERCISE 1 - List-to-Series Conversion

In [9]:
given_list= [1,2,3]
series = pd.Series(given_list)
print (series)

0    1
1    2
2    3
dtype: int64

# EXERCISE 2 - List-to-Series Conversion with Custom Indexing

In [12]:
given_list = [2,5,8,9,10]
series = pd.Series(given_list,index=[3,77,9,4,7])
print(series)

3      2
77     5
9      8
4      9
7     10
dtype: int64

# EXERCISE 3 - Date Series Generation

In [13]:
date_range= pd.date_range(start ='12-12-12', end ='25-12-12')
print (date_range)

DatetimeIndex(['2012-12-12', '2012-12-13', '2012-12-14', '2012-12-15',
               '2012-12-16', '2012-12-17', '2012-12-18', '2012-12-19',
               '2012-12-20', '2012-12-21', '2012-12-22', '2012-12-23',
               '2012-12-24', '2012-12-25'],
              dtype='datetime64[ns]', freq='D')

# EXERCISE 4 - Implementing a function on each and every element of a series

In [18]:
given_list = [1,2,3,4,5,6]
series = pd.Series(given_list)
print(series)
modified_series = series.apply (lambda x:x/5) 
print (modified_series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
5    1.2
dtype: float64

# EXERCISE 5 - Dictionary-to-Dataframe Conversion

In [20]:

dictionary = {'name': ['Vinay', 'Kushal', 'Aman'],
              'age' : [22, 25, 24],
              'occ' : ['engineer', 'doctor', 'accountant']}
dataframe= pd.DataFrame (dictionary)
print (dataframe)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

to be continued...