In [9]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:Hari@1998@localhost/hari')

In [10]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:Hari@1998@localhost/hari')

In [6]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:Hari@1998@localhost/hari')

In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [16]:
pip install MySQL-python

Collecting MySQL-python
  Downloading MySQL-python-1.2.5.zip (108 kB)
     -------------------------------------- 108.9/108.9 kB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for MySQL-python, since package 'wheel' is not installed.
Installing collected packages: MySQL-python
  Running setup.py install for MySQL-python: started
  Running setup.py install for MySQL-python: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Running setup.py install for MySQL-python did not run successfully.
  exit code: 1

  [30 lines of output]
  C:\Users\harji\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\dist.py:771: UserWarning: Usage of dash-separated 'distribution-name' will not be supported in future versions. Please use the underscore name 'distribution_name' instead
    warnings.warn(
  C:\Users\harji\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\dist.py:771: UserWarning: Usage of dash-separated 'build-requires' will not be supported in future versions. Please use the underscore name 'build_requires' instead
    warnings.warn(
  running install
  C:\Users\harji\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-310
  copying _mysql_exceptions.py -> build\lib.win-amd64-cpython-310
  creating build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\__init__.py -> build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\converters.py -> build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\connections.py -> build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\cursors.py -> build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\release.py -> build\lib.win-amd64-cpython-310\MySQLdb
  copying MySQLdb\times.py -> build\lib.win-amd64-cpython-310\MySQLdb
  creating build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\__init__.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\CR.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\ER.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\FLAG.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\REFRESH.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  copying MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-cpython-310\MySQLdb\constants
  running build_ext
  building '_mysql' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

MySQL-python

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [17]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\harji\appdata\local\programs\python\python310\lib\site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:Hari@1998@localhost:3306/study')

In [25]:
%load_ext sql

In [26]:
print("connecting with engine " + str(engine))

connecting with engine Engine(mysql+mysqldb://root:***@1998@localhost:3306/study)

In [27]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [28]:
engine = create_engine('mysql://root:Hari@1998@localhost/sys')

In [31]:
from sqlalchemy import create_engine
engine = create_engine('mysql://root:Hari@1998@localhost/sys')

In [32]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [33]:
%load_ext sql
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://root:Hari@1998@localhost:3306/study')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [34]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [44]:
%%sql
mysql://root:Harisankar @ localhost:3306/study

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
invalid literal for int() with base 10: 'Harisankar'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [50]:

%%sql
mysql://test:newpassword@localhost:3306/study

In [53]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),

);

 * mysql://test:***@localhost:3306/study
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'varchar(6),\n\n)' at line 3")
[SQL: CREATE TABLE sales
(
    key       varchar(6),

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [59]:
%%sql
use study;
%%sql

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

 * mysql://test:***@localhost:3306/study
0 rows affected.
(MySQLdb.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%%sql\n\nCREATE TABLE Persons (\n    PersonID int,\n    LastName varchar(255),\n    F' at line 1")
[SQL: %%%%sql

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [55]:
%%sql
select * from user;

 * mysql://test:***@localhost:3306/study
53 rows affected.

[('user_1', 'FEMALE', 'Hyderabad', '2022-02-02 10:00:00', 'youtube_ad', 'B.Tech'),
 ('user_2', 'FEMALE', 'Bengaluru', '2022-02-02 10:00:00', 'user_referral', '10th Completed'),
 ('user_3', 'MALE', 'Visakhapatnam', '2022-02-02 10:00:00', 'website', 'Degree'),
 ('user_4', 'MALE', 'Mumbai', '2022-02-02 10:00:00', 'instagram', 'Intermediate'),
 ('user_5', 'MALE', 'Hyderabad', '2022-02-02 10:00:00', 'user_referral', 'M.Tech'),
 ('user_6', 'MALE', 'Delhi', '2022-02-02 10:00:00', 'instagram', 'Degree'),
 ('user_7', 'MALE', 'Kochi', '2022-02-02 10:00:00', 'youtube_ad', 'B.Tech'),
 ('user_8', 'FEMALE', 'Mumbai', '2022-02-02 10:00:00', 'website', 'B.Tech'),
 ('user_9', 'FEMALE', 'Delhi', '2022-02-02 10:00:00', 'youtube_ad', 'B.Tech'),
 ('user_10', 'MALE', 'Visakhapatnam', '2022-02-02 10:00:00', 'user_referral', 'B.Tech'),
 ('user_11', 'FEMALE', 'Bengaluru', '2022-02-02 10:00:00', 'instagram', 'B.Tech'),
 ('user_12', 'MALE', 'Kochi', '2022-02-02 10:00:00', 'website', 'B.Tech'),
 ('user_13', 'FEMALE', 'Visakhapatnam', '2022-02-02 10:00:00', 'instagram', 'B.Tech'),
 ('user_14', 'MALE', 'Delhi', '2022-02-02 10:00:00', 'user_referral', 'Degree'),
 ('user_15', 'FEMALE', 'Hyderabad', '2022-01-08 10:00:00', 'website', 'Degree'),
 ('user_16', 'MALE', 'Mumbai', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_17', 'MALE', 'Bengaluru', '2022-01-08 10:00:00', 'user_referral', 'Degree'),
 ('user_18', 'MALE', 'Delhi', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_19', 'MALE', 'Visakhapatnam', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_20', 'FEMALE', 'Hyderabad', '2022-01-08 10:00:00', 'user_referral', 'Degree'),
 ('user_21', 'MALE', 'Delhi', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_22', 'FEMALE', 'Bengaluru', '2022-01-08 10:00:00', 'youtube_ad', 'Degree'),
 ('user_23', 'MALE', 'Mumbai', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_24', 'MALE', 'Delhi', '2022-01-08 10:00:00', 'instagram', 'Degree'),
 ('user_25', 'FEMALE', 'Visakhapatnam', '2022-01-08 10:00:00', 'website', '10th Completed'),
 ('user_26', 'MALE', 'Hyderabad', '2021-12-15 10:00:00', 'instagram', '10th Completed'),
 ('user_27', 'MALE', 'Visakhapatnam', '2021-12-15 10:00:00', 'user_referral', '10th Completed'),
 ('user_28', 'FEMALE', 'Bengaluru', '2021-12-15 10:00:00', 'instagram', '10th Completed'),
 ('user_29', 'FEMALE', 'Kochi', '2021-12-15 10:00:00', 'instagram', '10th Completed'),
 ('user_30', 'MALE', 'Mumbai', '2021-12-15 10:00:00', 'instagram', 'Intermediate'),
 ('user_31', 'MALE', 'Hyderabad', '2021-12-15 10:00:00', 'instagram', 'Intermediate'),
 ('user_32', 'MALE', 'Bengaluru', '2021-12-15 10:00:00', 'youtube_ad', 'Intermediate'),
 ('user_33', 'MALE', 'Mumbai', '2021-12-15 10:00:00', 'user_referral', 'Intermediate'),
 ('user_34', 'OTHER', 'Kochi', '2021-12-15 10:00:00', 'instagram', 'Intermediate'),
 ('user_35', 'MALE', 'Hyderabad', '2021-11-19 10:00:00', 'user_referral', 'Intermediate'),
 ('user_36', 'MALE', 'Kochi', '2021-11-19 10:00:00', 'instagram', 'Intermediate'),
 ('user_37', 'MALE', 'Delhi', '2021-11-19 10:00:00', 'instagram', 'Intermediate'),
 ('user_38', 'FEMALE', 'Hyderabad', '2021-11-19 10:00:00', 'youtube_ad', 'Intermediate'),
 ('user_39', 'MALE', 'Mumbai', '2021-11-19 10:00:00', 'instagram', 'Intermediate'),
 ('user_40', 'MALE', 'Bengaluru', '2021-11-19 10:00:00', 'user_referral', 'B.Tech'),
 ('user_41', 'FEMALE', 'Visakhapatnam', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_42', 'MALE', 'Kochi', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_43', 'MALE', 'Delhi', '2021-10-13 10:00:00', 'user_referral', 'B.Tech'),
 ('user_44', 'FEMALE', 'Mumbai', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_45', 'FEMALE', 'Hyderabad', '2021-10-13 10:00:00', 'website', 'B.Tech'),
 ('user_46', 'MALE', 'Bengaluru', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_47', 'MALE', 'Mumbai', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_48', 'FEMALE', 'Hyderabad', '2021-10-13 10:00:00', 'youtube_ad', 'B.Tech'),
 ('user_49', 'MALE', 'Bengaluru', '2021-10-13 10:00:00', 'instagram', 'B.Tech'),
 ('user_50', 'FEMALE', 'Visakhapatnam', '2021-10-13 10:00:00', 'youtube_ad', 'Intermediate'),
 ('user_51', 'MALE', 'Mumbai', '4000-06-01 12:00:00', 'user_referral', 'Intermediate'),
 ('user_52', 'FEMALE', 'Hyderabad', '4000-06-01 12:00:00', 'website', 'Intermediate'),
 ('user_53', 'FEMALE', 'Hyderabad', '2021-10-13 10:00:00', 'website', 'Intermediate')]

In [60]:
%%sql
use study;

 * mysql://test:***@localhost:3306/study
0 rows affected.

[]

In [61]:
%%sql

CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

 * mysql://test:***@localhost:3306/study
(MySQLdb.OperationalError) (1142, "CREATE command denied to user 'test'@'localhost' for table 'persons'")
[SQL: CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [63]:
%%sql 
select gender from user limit 10;

 * mysql://test:***@localhost:3306/study
10 rows affected.

[('FEMALE',),
 ('FEMALE',),
 ('MALE',),
 ('MALE',),
 ('MALE',),
 ('MALE',),
 ('MALE',),
 ('FEMALE',),
 ('FEMALE',),
 ('MALE',)]